*{
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  padding: 0;
  margin: 0;
}
body{
  background: #515151;
  color: #fff;
}
#start,#stop{
  padding: 10px 20px;
  margin: 150px;
  color: #000;
  font-weight: 900;
  font-size: 50px;
  background: red;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: 0;
  outline: 0;
}